@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
}

.container {
  display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  &:hover {background: #a34fbf;
  }
}

.circle-one {
  width: 12em;
  height: 12em;
  border-radius: 50%;
  background: #a0f568;
}

.circle-two {
  box-shadow: 0 0 0 6em #f5a293;
  opacity: 0;
}

.circle-three {
  box-shadow:
          0 0 0 6em #f5a293,
          0 0 0 12em #f54348;
  opacity: 0;
}

.circle-four {
  box-shadow:
          0 0 0 6em #f5a293,
          0 0 0 12em #f54348,
          0 0 0 18em #b26df5;
  opacity: 0;
}

.circle-five {
  box-shadow:
          0 0 0 6em #f5a293,
          0 0 0 12em #f54348,
          0 0 0 18em #b26df5,
          0 0 0 24em #8f84f5;
  opacity: 0;
}










