@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
}

.container {
  display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  &:hover {background: #a34fbf;
  }
}

.circle {
  width: 200px;
  height: 200px;


  border-radius: 50%;
  background: #a0f568;
  &:hover {background: #f53a4c;
            animation: shadow 2s ease infinite;}
}

@keyframes  shadow{
  0% {
    box-shadow: 0 0 0 2em #000000;
  }
  50% {
    box-shadow: 0 0 0 20em #000000,
    0 0 0 40px #f53a4c;
  }
  100% {
    box-shadow: 0 0 0 20px #000000,
    0 0 0 40px #f53a4c,
    0 0 0 60px #7048f5;
  }
}







